<div *ngIf="vehicle">
  <div class="backdrop" (click)="close()"></div>

  <div class="editform">
    <h2>Editando: {{ vehicle.modelo }} - {{ vehicle.placa }}</h2>
    <form>
      <label>Modelo:
        <input [(ngModel)]="vehicle.modelo" name="modelo" required />
      </label>

      <label>Marca:
        <input [(ngModel)]="vehicle.marca" name="marca" required />
      </label>

      <label>Placa:
        <input [(ngModel)]="vehicle.placa" name="placa" required />
      </label>

      <label>Chassi:
        <input [(ngModel)]="vehicle.chassi" name="chassi" required />
      </label>

      <label>Renavam:
        <input [(ngModel)]="vehicle.renavam" name="renavam" required />
      </label>

      <label>Ano:
        <input type="number" [(ngModel)]="vehicle.ano" name="ano" required />
      </label>

      <div class="button-container">
        <button type="button" (click)="save()">Salvar</button>
        <button type="button" (click)="close()">Cancelar</button>
        <button type="button" (click)="delete()">Deletar</button>
      </div>
    </form>
  </div>
</div>
