<div *ngIf="vehicle">
  <div class="backdrop" (click)="close()"></div>

  <div class="editform">
    <h2 [textContent]="`Editando: ${vehicle.modelo} - ${vehicle.placa}`"></h2>
    <form>

      <div class="field" *ngFor="let key of vehicleKeys">
        <label [textContent]="key" [for]="key"></label>
        <input 
          [(ngModel)]="vehicle[key]" 
          [ngModelOptions]="{ standalone: true }"
          [name]="key" 
          [id]="key" 
          required
        />
      </div>
      
      <div class="button-container">
        <button type="button" (click)="save()">Salvar</button>
        <button type="button" (click)="close()">Cancelar</button>
        <button *ngIf="vehicle.id" type="button" (click)="delete()">Deletar</button>
      </div>
    </form>
  </div>
</div>
